/*--------------------------------------------------------------
content
--------------------------------------------------------------*/
.tm-main{
  //background: @white;
}
.uk-article-meta{
  margin-bottom: 0;
  margin-top: -22px;
}
article {

  span a{
    color:#888;
    font-family:@font-light;
  }

}
.page-template-blog-page{
  .tm-article-content{
    margin-top: 15px;
    hr{
      margin-bottom: 0;
    }
  }
  .uk-article{
    margin-top: 0;
  }
  .uk-panel-box{
    padding-bottom: 0;
  }
}
