/*--------------------------------------------------------------
Site
--------------------------------------------------------------*/
body{
  background: @white ;
}
a{
  .transition(color);
  font-family:@font-medium;
}
.tm-site{
  @media (min-width: @breakpoint-medium) {
    border: @site-frame solid @white;
  }
}
.tm-main{
  background: @white;
}
.padding-section{
  padding: 60px 0;
}
.tm-article-content li{
  list-style-type: none;
  line-height: 1.5;
  &:before{
    content:".";
    color:@primary-color;
    position: relative;
    font-family:helvetica;
    left:-7px;
    font-size:50px;
    line-height: .5;
  }
}
.people-switcher
    li:before{
  content:"";
}

