/*--------------------------------------------------------------
footer
--------------------------------------------------------------*/
.tm-footer{
  background: @secondary-color;
  color:@white;
  font-size:15px;
  color:lighten(@light-blue,20%);
  border-top:none;
  padding:50px 166px 60px 60px;
  .uk-icon-medium{
    font-size:160%;
    margin-top: 5px;
    position: relative;
    left: -20px;
  }
  .uk-icon-button{
    font-size:14px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    background: @light-blue;
    color:@secondary-color;
    margin: 0 5px
  }
  .uk-grid{
    margin-top: 5px;
  }

}
.footer-nav{
  li > a{
    color: @primary-color !important;
    padding: 0 10px !important;
    &:hover{
      color:@white !important;
    }
    &:after{
      content:"|";
      color:#6B8691;
      position: relative;
     left: 10px;

    }
    &last-child:after{
      content:"" !important;
    }
  }
}
