/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.tm-header{

  background: @primary-color;
  padding: @global-margin 66px @global-margin 29px;
  border-bottom:none;
  a{
    color:@white;
  }
  &.uk-active{
    a{
      color :@white;
      font-weight: 300;

    }
    .tm-site-branding a{
      color:@white;
      font-weight: 300;
    }
  }
}
.tm-header-wrapper {
  @media (min-width: @breakpoint-medium) {
    border-bottom: @site-frame*2 solid @white;
    margin-bottom: -@site-frame*2;
  }

}
.tm-site-branding{
    margin-top: 5px;
}

/*--------------------------------------------------------------
Hero Area
--------------------------------------------------------------*/
.hero-area{
  .home &{
    height: 790px;
  }
  height: 335px;
  width: 100%;
}
.hero-content{
color:@white;
  .hero-title{
    font-family: @font-medium;
    font-size:48px;
    margin-bottom: 20px;
    line-height: 1.2;


  }
  .hero-subtitle{
    font-weight: @font-air;
    font-size:24px;

  }
  .hero-link{
    margin-top: 30px;
    color:@white;
  }
}
