/*--------------------------------------------------------------
Header nav
--------------------------------------------------------------*/
.tm-header{
  .uk-navbar-nav > li {
    &.uk-active{
      &:after{
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 54px;
        left: 0;
        right:0;
        margin:0 auto;
        border: 0 solid transparent;
        border-left-width: 20px;
        border-right-width: 20px;
        border-top: 20px solid @primary-color;
        z-index: 10;
      }
    }

    > a {
      color: @white;
      font-weight: 300;
      font-size: 18px;


    }
  }
  &.uk-active {
    .uk-navbar-nav > li > a {
      color: @white;
      &:hover{
        color: @secondary-color;
      }
    }
  }
}

  .uk-icon-navicon{
    font-size: 24px;
  }


