.orange-section {
  background: @primary-color;
  @media (min-width: @breakpoint-medium) {
    padding: 90px 0;
  }
  padding: 80px 0;
  color: @white;
  .quote {
    font-family: @font-air;
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 1.2;
    position: relative;
    &:before {
      content: url(../../images/quotes.png);
      position: absolute;
      left: -125px;

    }
  }
  .quote-author {
    font-family: @font-medium;
  }
  .uk-panel-title {
    font-size: 42px;
    color: @white !important;
    font-family: @font-air;
    line-height: 1.5;
  }

}

//home content block
.home-content {
  .left-image {
    //height: 500px;
  }

  .content-wrap {
    //@media (min-width: @breakpoint-medium) {
    //  width: 500px;
    //}
  }

}

.grey-area {
  background: #C8CDD2;
  h4 {
    color: @white;
    &.black {
      color: @black;
    }
  }
  padding: 40px;
}

//About
.about-sidebar {
  display: none;
  @media (min-width: @breakpoint-medium){
    display: block;
    max-width: 300px;
    position: absolute;
    right: 10px;
  }
  img{
    margin-bottom: 10px;
  }
}
.page-template-about_page{
  .h3-bold, p{
    @media (max-width: @breakpoint-medium){
      text-align: center;
    }
  }
}

.people {
  //height: 170px;
  cursor: pointer;
  .transition();
  &.desaturate {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .5;
    &:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      opacity: 1;
    }
  }


}
.people-content.grey-area{
    h4{
      color:@black;
      font-size: 18px;
      margin-bottom: 0;
    }
  h5.white{
    color:@white;
    font-size:16px;
    font-family:@font-light;
    margin-top: 0;
    margin-bottom: 0;
  }
  p{
    margin-top:15px;
  }
}

.dn {
  display: none;
}
//Career
.career{
  p{
    margin-bottom: 5px;
  }
  .readmore{
    padding-bottom: 20px;
    display: block;
  }

}

//Contact
.gmap {
  position: relative;
  padding-bottom: 60%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
  margin-bottom: 40px;
}

.gmap iframe {
  position: absolute;
  top: 0;
  left: 35px;
  width: 100% !important;
  height: 100% !important;
}

.contact-info {
  position: relative;
  margin-top: 20px;
  @media (min-width: @breakpoint-large) {
    margin-top: 0;
  }
  .social {
    position: absolute;
    top: 0;
    right: 0;
    @media (min-width: @breakpoint-large) {
      top: 84%;
    }

  }
}

//Gravity form
.gform_button {
  .hook-button;
  color: @primary-color !important;
  padding: 10px 40px;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  &:hover {
    .hook-button-hover;
    color: @white !important;
    cursor: pointer !important;
  }
}

.gfield_label {
  display: none;
}

input[type="text"], textarea {
  border-radius: 0 !important;
  background: #EEF1F3 !important;
  border: 1px solid @light-grey;
  color: @medium-grey !important;
  height: 37px !important;
  padding-left: 15px !important;
}

textarea {
  height: 157px !important;
}

.g-field {
  padding-right: 0 !important;
}

.ginput_container {
  margin-top: -20px !important;
}

.gfield_required {
  color: @primary-color !important;
}

//Works
.slide-title{
  font-family:@font-light ;
}
.slide-title, .slide-subtitle {
  font-size: 22px;
}

.slider-logo, .slide-title, .slide-subtitle {
  margin-bottom: 15px;
}

.slide-text {
  line-height: 27px;

  img {
    margin-top: 20px;
  }
}

.tm-slideshow-img {
  img {
    @media (min-width: @breakpoint-large) {
      float: right;
    }
  }
}

.page-template-works_page {
  .works-head {
    margin-bottom: 100px;
  }
}

.awards-section {
  .grey-title {
    margin-bottom: 0;
  }
}

.award-item {
  @media (min-width: @breakpoint-medium) {
    text-align: left;
  }
  h5 {
    color: @black;
    margin-bottom: 0;
  }
  margin-bottom: 20px;
}
.single-work{
  .right-col{
    @media (max-width: @breakpoint-medium){
      margin-top: 20px;
    }
  }
  .h3-bold{
    @media (max-width: @breakpoint-medium){
      text-align: center;
    }
  }
  .left-col,.right-col{
    @media (max-width: @breakpoint-medium){
      text-align: center;
    }
  }
}