/*--------------------------------------------------------------
sidebar
--------------------------------------------------------------*/
.tm-widget{
  //margin-bottom: 20px;

}
.tm-secondary{
  margin-bottom: 100px;
  li{
    list-style-type: none;
  }
  .uk-panel{
    margin-top: 0 !important;
  }
.textwidget{
  p:last-child{
    margin-bottom: 0;
  }
}
}
.uk-list, .annual-archive{
  li{
    a{
      color: @global-color;
      font-family: @font-air;

      &:hover{
       color: @primary-color;
      }

    }
  }
}

.annual-archive{
  ul{
    padding-left: 0;
    li{
      margin-bottom: 10px;
      a{

      }
    }
  }
}
