/*--------------------------------------------------------------
TYPOGRAPHY
--------------------------------------------------------------*/
strong{
  font-family:@font-medium;
}
hr{
  border-top:1px solid #C5C5C5 !important;
}
p{
  line-height: 27px;
}
h4,h5{
  color:@primary-color;
  font-family:@font-medium;
}

.grey-title{
  color:@medium-grey;
  font-size:42px;
  font-family:@light-font;
  margin-bottom: 60px;
  line-height: 1.2;
}
.career-category,.h3-bold{
  font-size:26px;
  font-family:@font-medium;
  color:@secondary-color;
}
.h3-bold{
  font-size:23px;
  &.orange{
    color: @primary-color;
  }
}

h2.uk-article-title a,.career-title{
  font-size:28px;
  margin-bottom: 0;
  font-family:@font-air;
  line-height: 1.2;
}
.career{
  p{
    font-size:18px;
  }
}
.timing, .uk-article-meta, .uk-article-meta a{
  color: @secondary-color;
  font-family:@font-light;
}

