// Name:            Slidenav
// Description:     Defines styles for a previous/next navigation between slides
//
// Component:       `uk-slidenav`
//
// Modifiers:       `uk-slidenav-previous`
//                  `uk-slidenav-next`
//                  `uk-slidenav-contrast`
//
// Sub-objects:     `uk-slidenav-position`
//
// Uses:            Icon: FontAwesome
//
// Markup:
//
// <!-- uk-slidenav -->
// <a href="" class="uk-slidenav uk-slidenav-previous"></a>
// <a href="" class="uk-slidenav uk-slidenav-next"></a>
//
// <!-- uk-slidenav-position -->
// <div class="uk-slidenav-position">
//     <img src="" alt="">
//     <a href="" class="uk-slidenav uk-slidenav-previous"></a>
//     <a href="" class="uk-slidenav uk-slidenav-next"></a>
// </div>
//
// ========================================================================


// Variables
// ========================================================================

@slidenav-width:                                30px;
@slidenav-height:                               @slidenav-width;
@slidenav-color:                                @medium-grey;
@slidenav-font-size:                            60px;
@slidenav-line-height:                          @slidenav-height;
@slidenav-previous-icon:                        "\e628";
@slidenav-next-icon:                            "\e629";

@slidenav-hover-color:                          @dark-grey;

@slidenav-active-color:                         @dark-grey;

@slidenav-position-previous:                    -60px;
@slidenav-position-next:                        -60px;

@slidenav-contrast-color:                       @dark-grey;
@slidenav-contrast-hover-color:                 @dark-grey;;
@slidenav-contrast-active-color:                @dark-grey;;


/* ========================================================================
Component: Slidenav
========================================================================== */

/*
* 1. Required for `a` elements
* 2. Dimension
* 3. Style
*/

.uk-slidenav {
  /* 1 */
  display: inline-block;
  /* 2 */
  box-sizing: border-box;
  width: @slidenav-width;
  height: @slidenav-height;
  /* 3 */
  line-height: @slidenav-line-height;
  color: @slidenav-color;
  font-size: @slidenav-font-size;
  text-align: center;
  .hook-slidenav;
}

/*
* Hover
* 1. Apply hover style also to focus state
* 2. Remove default focus style
* 3. Required for `a` elements
* 4. Style
*/

.uk-slidenav:hover,
.uk-slidenav:focus { // 1
  /* 2 */
  outline: none;
  /* 3 */
  text-decoration: none;
  /* 4 */
  color: @slidenav-hover-color;
  cursor: pointer;
  .hook-slidenav-hover;
}

/* Active */
.uk-slidenav:active {
  color: @slidenav-active-color;
  .hook-slidenav-active;
}

/*
* Icons
*/

.uk-slidenav-previous:before {
  content: @slidenav-previous-icon;
  font-family: 'icomoon' !important;
}

.uk-slidenav-next:before {
  content: @slidenav-next-icon;
  font-family: 'icomoon' !important;
}


/* Sub-object: `uk-slidenav-position`
========================================================================== */

/*
* Create position context
*/

.uk-slidenav-position { position: relative; }

/*
* Center vertically
*/

.uk-slidenav-position .uk-slidenav {
  display: none;
  position: absolute;
  top: 50%;
  z-index: 1;
  margin-top: -(@slidenav-height / 2);
}

.uk-slidenav-position:hover .uk-slidenav { display: block; }

.uk-slidenav-position .uk-slidenav-previous { left: @slidenav-position-previous; }
.uk-slidenav-position .uk-slidenav-next { right: @slidenav-position-next; }


/* Modifier: `uk-slidenav-contrast`
========================================================================== */

.uk-slidenav-contrast {
  color: @slidenav-contrast-color;
  .hook-slidenav-contrast;
}

/*
* Hover
* 1. Apply hover style also to focus state
*/

.uk-slidenav-contrast:hover,
.uk-slidenav-contrast:focus { // 1
  color: @slidenav-contrast-hover-color;
  .hook-slidenav-contrast-hover;
}

/* Active */
.uk-slidenav-contrast:active {
  color: @slidenav-contrast-active-color;
  .hook-slidenav-contrast-active;
}


// Hooks
// ========================================================================

.hook-slidenav-misc;

.hook-slidenav() {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  .transition;
}
.hook-slidenav-hover() {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);

}
.hook-slidenav-active() {}
.hook-slidenav-contrast() {}
.hook-slidenav-contrast-hover() {}
.hook-slidenav-contrast-active() {}
.hook-slidenav-misc() {}