//colors
@black:#000;
@white:#fff;
@dark-grey:#121212;
@light-grey:#ededed;
@medium-grey:#6d6d6d;
@bg-grey:#f5f5f5;
@primary-color:#F06A00;
@secondary-color:#214453;
@light-blue: #6B8691;

@base-spacing: 25px;

@site-frame: 0;
//fonts
@font-air: 'dobra_lightlight', "Helvetica Neue", Helvetica, Arial;
@font-light: 'dobra_bookbook', "Helvetica Neue", Helvetica, Arial;
@font-medium: 'dobra_mediummedium', "Helvetica Neue", Helvetica, Arial;
@font-bold: 'dobra_boldbold', "Helvetica Neue", Helvetica, Arial;
@font-black: 'dobra_blackblack', "Helvetica Neue", Helvetica, Arial;

// Text
//

@global-color:                                  @black;
@global-muted-color:                            #999;

@global-link-color:                             @primary-color;
@global-link-hover-color:                       darken(@primary-color,10%);

@global-contrast-color:                         #fff;

@global-font-size:                              16px;
@global-line-height:                            1.5;

//
// Backgrounds & Borders
//

@global-background:                             @bg-grey;
@global-border:                                 @light-grey;

@global-primary-background:                     @primary-color;
@global-success-background:                     @secondary-color;
@global-warning-background:                     #faa732;
@global-danger-background:                      #da314b;

//
// Spacings
//

@global-margin:                                 15px;
@global-margin-large:                           25px;
@global-grid-gutter:                            25px;
@global-grid-gutter-large:                      35px;

//
// Controls
//

@global-height:                                 30px;
@global-height-mini:                            20px;
@global-height-small:                           25px;
@global-height-large:                           40px;

//
// Z-index
//

@global-z-index:                                1000;