/*
 * In this file, you may style your site using CSS or LESS as well as overwrite UIkit LESS variables.
 * Make sure to enable development mode via the Admin->Appearance->Settings option while working on your website. LESS will then be processed on the fly.
 */
/*--------------------------------------------------------------
Fonts
--------------------------------------------------------------*/
@font-face {
  font-family: 'dobra_mediummedium';
  src: url('../fonts/dobra-medium-webfont.woff2') format('woff2'),
  url('../fonts/dobra-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'dobra_medium_italicMdIt';
  src: url('../fonts/dobra-medium_italic-webfont.woff2') format('woff2'),
  url('../fonts/dobra-medium_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'dobra_lightlight';
  src: url('../fonts/dobra-light-webfont.woff2') format('woff2'),
  url('../fonts/dobra-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'dobra_light_italicLtIt';
  src: url('../fonts/dobra-light_italic-webfont.woff2') format('woff2'),
  url('../fonts/dobra-light_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'dobra_bookbook';
  src: url('../fonts/dobra-book-webfont.woff2') format('woff2'),
  url('../fonts/dobra-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'dobra_book_italicbook_italic';
  src: url('../fonts/dobra-book_italic-webfont.woff2') format('woff2'),
  url('../fonts/dobra-book_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'dobra_boldbold';
  src: url('../fonts/dobra-bold-webfont.woff2') format('woff2'),
  url('../fonts/dobra-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'dobra_bold_italicbold_italic';
  src: url('../fonts/dobra-bold_italic-webfont.woff2') format('woff2'),
  url('../fonts/dobra-bold_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'dobra_blackblack';
  src: url('../fonts/dobra-black-webfont.woff2') format('woff2'),
  url('../fonts/dobra-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'dobra_black_italicBlkIt';
  src: url('../fonts/dobra-black_italic-webfont.woff2') format('woff2'),
  url('../fonts/dobra-black_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'icomoon';
  src:    url('../fonts/icomoon.eot?gdf0z1');
  src:    url('../fonts/icomoon.eot?gdf0z1#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?gdf0z1') format('truetype'),
  url('../fonts/icomoon.woff?gdf0z1') format('woff'),
  url('../fonts/icomoon.svg?gdf0z1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-link:before {
  content: "\e015";
}
.icon-magnify:before {
  content: "\e01f";
}
.icon-eye:before {
  content: "\e02c";
}
.icon-close:before {
  content: "\e306";
}
.icon-previous:before {
  content: "\e628";
}
.icon-next:before {
  content: "\e629";
}










































